@using System.Threading;
@using AsthaIslamicService.ViewModels;

@{
    Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("bn-BD");
}

@{

    if (ViewBag.RamadanTime != null)
    {
        string active = "";
        List<RamadanTimeViewModel> aList = (List<RamadanTimeViewModel>)ViewBag.RamadanTime;
        int count = 1;
        foreach (var item in aList)
        {

           // var Fajr = item.TimeEN["Fajr"];
            //var Maghrib = item.TimeEN["Maghrib"];
            if (item.TheDate.ToString("dd-MMM-yyyy") == DateTime.Now.ToString("dd-MMM-yyyy"))
            {
                active = "date-active";
            }
            else
            {
                active = "";
            }
            if (item.TheDate.Date >= DateTime.Now.Date)
            {
                <tr class="@active" id="@count.ToString()_tr">

                    <td class="tobng timeValue date">@item.TheDate.Day</td>
                    <td>@item.TheDate.ToString("dddd")</td>
                    <td id="@count.ToString()_sheri" class="tobng sehriTime">@item.Seheri</td>
                    <td id="@count.ToString()_iftar" class="tobng iftarTime">@item.Iftar</td>
                    <td style="display:none" id="@count.ToString()_ttt">@Convert.ToDateTime(item.TheDate).ToLongDateString()</td>

                </tr>
                  count++;
            }


        }
    }
}
