@*@{
    var nextPrayerName = @ViewBag.nextPrayerName;
    var nextPrayerId = @ViewBag.nextPrayerId;
    var nextPrayerTime = @ViewBag.nextPrayerTime;
    var currentDate = @ViewBag.currentDate;
    var fararPrayerTime = @ViewBag.prayerTime.fazr;
    var jahurPrayerTime = @ViewBag.prayerTime.juhr;
    var asrPrayerTime = @ViewBag.prayerTime.asr;
    var magribPrayerTime = @ViewBag.prayerTime.magrib;
    var ishaPrayerTime = @ViewBag.prayerTime.isha;
}
<style>
    .my-3 {
        margin-bottom: 0px;
    }
</style>

<div class="card-body text-center" style="color:#ffffff">
    <div class="row bg-salah py-3" style="height: 134%;">
        <p>পরবর্তী নামাজ - @nextPrayerName</p>
        <p style="font-size:32px" id="nextPrayerId" class="tobng"> @nextPrayerTime</p>
        <input type="hidden" id="@nextPrayerId" value="@nextPrayerId" />
    </div>
</div>
<div class="row my-3" style="padding: 17px;">
    <select class="py-2" id="ddlPlaces" onchange="getSelectedCityTime()">
    </select>
</div>

<div calss="pra">
    <p class="my-3 text-center py-2 tobng" style="font-size:20px; background-color:#ffffff">@currentDate</p>
</div>

<div class="container" id="prayerTime" style="padding: 12px;">
    <div class="card mb-2 card-body">
        <div class="row">
            <div class="col-4">
                <p>ফযর</p>
            </div>
            <div class="col-8 text-end">
                <p id="fazr_" class="text-secondary tobng">
                    @fararPrayerTime
                </p>

            </div>
        </div>
    </div>
    <div class="card mb-2 card-body ">
        <div class="row">
            <div class="col-4">
                <p class=" my-auto">জোহর</p> 
            </div>
            <div class="col-8 text-end">

                <p id="juhr_" class="text-secondary tobng">
                    @jahurPrayerTime
                </p>
            </div>
        </div>
    </div>

    <div class="card card-body mb-2">
        <div class="row">
            <div class="col-4">
                <p>আসর</p>
            </div>
            <div class="col-8 text-end">

                <p id="asr_" class="text-secondary tobng">
                    @asrPrayerTime
                </p>
            </div>
        </div>
    </div>

    <div class="card card-body mb-2">
        <div class="row">
            <div class="col-4">
                <p>মাগরিব</p>
            </div>
            <div class="col-8 text-end">

                <p id="magrib_" class="text-secondary tobng">
                    @magribPrayerTime
                </p>
            </div>
        </div>
    </div>
    <div class="card card-body mb-2">
        <div class="row">
            <div class="col-4">
                <p>ইশা</p>
            </div>
            <div class="col-8 text-end">

                <p id="isha_" class="text-secondary tobng">
                    @ishaPrayerTime
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    var defaultTime = null;
    var cities = null;

    $('.tobng').each(function () {

        var currentElement = $(this);

        //var value = currentElement.html().trim(); // if it is an input/select/textarea field
        currentElement.html(convertToBanglanumber(value));
        // TODO: do something with the value
    });
    getCity();
    getDefaultTime();


    function getCity() {

        $.ajax({
            type: "get",
            //url: "PrayerTime/GetCities",
            url: "@Url.Action("GetCities", "PrayerTime")",
            async: true,
            success: function (response) {

                for (var i = 0; i < response.length; i++) {
                    $("#ddlPlaces").append($("<option></option>").val(response[i].place_name).html(response[i].place_name));
                    $("#ddlPlaces").val("ঢাকা");

                }
                cities = response;
            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }

    function getDefaultTime() {
        $.ajax({
            type: "get",
            async: true,
            //url: "PrayerTime/GetDefaultTime",
            url: "@Url.Action("GetDefaultTime", "PrayerTime")",
            success: function (response) {
                defaultTime = response;
            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }
    function getSelectedCityTime() {


        if (cities.length > 0) {

            var obj = cities.filter(a => a.place_name == $('#ddlPlaces').val());

            if (obj != null) {

                var fazr = defaultTime.fazr.replace('AM', '');
                var juhr = defaultTime.juhr.replace('PM', '');
                var asr = defaultTime.asr.replace('PM', '');
                var magrib = defaultTime.magrib.replace('PM', '');
                var isha = defaultTime.isha.replace('PM', '');


                fazr = defaultTime.fazr.split(':')[0] + ':' + (parseInt(defaultTime.fazr.split(':')[1]) + parseInt(obj[0]['fazr'])) + ' AM';
                juhr = defaultTime.juhr.split(':')[0] + ':' + (parseInt(defaultTime.fazr.split(':')[1]) + parseInt(obj[0]['johr'])) + ' PM';
                asr = defaultTime.asr.split(':')[0] + ':' + (parseInt(defaultTime.asr.split(':')[1]) + parseInt(obj[0]['asr'])) + ' PM';
                magrib = defaultTime.magrib.split(':')[0] + ':' + (parseInt(defaultTime.magrib.split(':')[1]) + parseInt(obj[0]['magrib'])) + ' PM';
                isha = defaultTime.isha.split(':')[0] + ':' + (parseInt(defaultTime.isha.split(':')[1]) + parseInt(obj[0]['isha'])) + ' PM';

                var asd = $('.nowPrayer').val();
                $('#fazr_').html(fazr);
                $('#juhr_').html(juhr);
                $('#asr_').html(asr);
                $('#magrib_').html(magrib);
                $('#isha_').html(isha);
                var currentId = $('#nextPrayerId').val()

                $('#' + currentId).html($('#' + currentId + '_').html());
                $('.tobng').each(function () {

                    var currentElement = $(this);

                    var value = currentElement.html().trim(); // if it is an input/select/textarea field
                    currentElement.html(convertToBanglanumber(value));
                    // TODO: do something with the value
                });


            }
        }

    }
</script>*@



<div class="card-body text-center" style="color:#ffffff">
    <div class="row bg-salah py-3">
        <p>পরবর্তী নামাজ - @ViewBag.nextPrayerName</p>
        <p style="font-size:32px" id="@ViewBag.nextPrayerId" class="tobng">@ViewBag.nextPrayerTime</p>
        <input type="hidden" id="nextPrayerId" value="@ViewBag.nextPrayerId" />

    </div>
</div>
<div class="row my-3">
    <select class="py-2" id="ddlPlaces" onchange="getSelectedCityTime()">
        @*      <option value="0">--Select Country--</option>*@
    </select>
</div>

<p class="my-3 text-center py-2 tobng" style="font-size:20px; background-color:#ffffff">@ViewBag.currentDate</p>
<div class="container" id="prayerTime" style="padding: 1rem 1rem;">
    <div class="card mb-2 card-body">
        <div class="row">
            <div class="col-4">
                <p>ফযর</p>
            </div>
            <div class="col-8 text-end">
                <p id="fazr_" class="text-secondary tobng">
                    @ViewBag.prayerTime.fazr
                </p>

            </div>
        </div>
    </div>
    <div class="card mb-2 card-body ">
        <div class="row">
            <div class="col-4">
                <p class=" my-auto">জোহর</p>
            </div>
            <div class="col-8 text-end">

                <p id="juhr_" class="text-secondary tobng">
                    @ViewBag.prayerTime.juhr
                </p>
            </div>
        </div>
    </div>

    <div class="card card-body mb-2">
        <div class="row">
            <div class="col-4">
                <p>আসর</p>
            </div>
            <div class="col-8 text-end">

                <p id="asr_" class="text-secondary tobng">
                    @ViewBag.prayerTime.asr
                </p>
            </div>
        </div>
    </div>

    <div class="card card-body mb-2">
        <div class="row">
            <div class="col-4">
                <p>মাগরিব</p>
            </div>
            <div class="col-8 text-end">

                <p id="magrib_" class="text-secondary tobng">
                    @ViewBag.prayerTime.magrib
                </p>
            </div>
        </div>
    </div>
    <div class="card card-body mb-2">
        <div class="row">
            <div class="col-4">
                <p>ইশা</p>
            </div>
            <div class="col-8 text-end">

                <p id="isha_" class="text-secondary tobng">
                    @ViewBag.prayerTime.isha
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    var defaultTime = null;
    var cities = null;

    $('.tobng').each(function () {

        var currentElement = $(this);

        var value = currentElement.html().trim(); // if it is an input/select/textarea field
        currentElement.html(convertToBanglanumber(value));
        // TODO: do something with the value
    });
    getCity();
    getDefaultTime();


    function getCity() {

        $.ajax({
            type: "get",
            url: "@Url.Action("GetCities", "PrayerTime")",
            async: true,
            success: function (response) {

                for (var i = 0; i < response.length; i++) {
                    $("#ddlPlaces").append($("<option></option>").val(response[i].place_name).html(response[i].place_name));
                    $("#ddlPlaces").val("ঢাকা");

                }
                cities = response;
            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }

    function getDefaultTime() {
        $.ajax({
            type: "get",
            async: true,
            url: "@Url.Action("GetDefaultTime", "PrayerTime")",
            success: function (response) {
                defaultTime = response;
            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    }
    function getSelectedCityTime() {


        if (cities.length > 0) {

            var obj = cities.filter(a => a.place_name == $('#ddlPlaces').val());

            if (obj != null) {

                var fazr = defaultTime.fazr.replace('AM', '');
                var juhr = defaultTime.juhr.replace('PM', '');
                var asr = defaultTime.asr.replace('PM', '');
                var magrib = defaultTime.magrib.replace('PM', '');
                var isha = defaultTime.isha.replace('PM', '');


                fazr = defaultTime.fazr.split(':')[0] + ':' + (parseInt(defaultTime.fazr.split(':')[1]) + parseInt(obj[0]['fazr'])) + ' AM';
                juhr = defaultTime.juhr.split(':')[0] + ':' + (parseInt(defaultTime.fazr.split(':')[1]) + parseInt(obj[0]['johr'])) + ' PM';
                asr = defaultTime.asr.split(':')[0] + ':' + (parseInt(defaultTime.asr.split(':')[1]) + parseInt(obj[0]['asr'])) + ' PM';
                magrib = defaultTime.magrib.split(':')[0] + ':' + (parseInt(defaultTime.magrib.split(':')[1]) + parseInt(obj[0]['magrib'])) + ' PM';
                isha = defaultTime.isha.split(':')[0] + ':' + (parseInt(defaultTime.isha.split(':')[1]) + parseInt(obj[0]['isha'])) + ' PM';

                //var isha = defaultTime.isha.split(':')[0] + ':' + (parseInt(defaultTime.isha.split(':')[1]) + parseInt(obj[0]['isha'])) +defaultTime.isha.includes('AM') ? 'AM' : 'PM';
                //var fazr = defaultTime.fazr.split(':')[0] + ':' + (parseInt(defaultTime.fazr.split(':')[1]) + parseInt(obj[0]['fazr'])) +defaultTime.fazr.includes('AM') ? 'AM' : 'PM';
                //var juhr = defaultTime.juhr.split(':')[0] + ':' + (parseInt(defaultTime.juhr.split(':')[1]) + parseInt(obj[0]['johr'])) +defaultTime.juhr.includes('AM') ? 'AM' : 'PM';
                //var asr =  defaultTime.asr.split(':')[0]  + ':' + (parseInt(defaultTime.asr.split(':')[1]) + parseInt(obj[0]['asr'])) +  defaultTime.asr.includes('AM') ? 'AM' : 'PM';
                //var magrib = defaultTime.magrib.split(':')[0] + ':' + (parseInt(defaultTime.magrib.split(':')[1]) + parseInt(obj[0]['magrib'])) + defaultTime.magrib.includes('AM') ? 'AM' : 'PM';


                var asd = $('.nowPrayer').val();
                $('#fazr_').html(fazr);
                $('#juhr_').html(juhr);
                $('#asr_').html(asr);
                $('#magrib_').html(magrib);
                $('#isha_').html(isha);
                var currentId = $('#nextPrayerId').val()

                $('#' + currentId).html($('#' + currentId + '_').html());
                $('.tobng').each(function () {

                    var currentElement = $(this);

                    var value = currentElement.html().trim(); // if it is an input/select/textarea field
                    currentElement.html(convertToBanglanumber(value));
                    // TODO: do something with the value
                });


            }
        }

    }
</script>