@model IEnumerable<AsthaIslamicService.Models.NameOfAllahViewModel>
@{
    int rCount = 0;
}

<style>
    .header-image {
        background: url('../images/hadith/hadithnumberimg.svg');
        background-position: center;
        background-size: contain;
        height: 40px;
        background-repeat: no-repeat;
        margin: auto;
        text-align: center;
    }
</style>

<div class="playlist">
    @foreach (var item in Model)
    {
        rCount = @rCount + 1;
        <div class="row cstmBoxCard no-style mt-3">
            <div class="col-3 pt-2 pb-2">
                <div class="header-image">
                    <p class="surano tobng">@rCount</p>
                </div>
            </div>
            <div class="col-7 col-middle">
                <a asp-controller="quran" asp-action="details" asp-route-id="#" asp-route-name="#" asp-route-num="#" asp-route-play="0">
                    <div class="row">
                        <div class="col-12 padding">@item.Name (@item.Arabic)</div>
                    </div>
                </a>  
            </div>
            <div class="col-2 col-middle">
                <img id="play" src="~/images/quran/play.svg" value="@item.Id" onclick="play()"/>
                <img id="pause" src="~/images/quran/stop.svg" value="@item.Id" style="display: none;" onclick="pause()" />
            </div>
        </div>      
    }
</div>
<script>
    $('.tobng').each(function () {
        var currentElement = $(this);
        var value = currentElement.html().trim(); // if it is an input/select/textarea field
        currentElement.html(convertToBanglanumber(value));

    });
</script>
